.home {
  padding: 2rem;
  text-align: center;
}

body.dark-mode .home h2 {
  color: #fff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}
